<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<!-- Universal Links: iOS sẽ fetch AASA tại https://readbox.pro.vn/.well-known/apple-app-site-association -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:readbox.pro.vn</string>
	</array>
</dict>
</plist>
